<div class="container-login">
  <div class="container-login-central">
    <div class="container-header">
      <div class="titulo-header">
        Dev Net Core
      </div>
      <div class="info-login">
        Digite seu email e senha para logar!
      </div>
    </div>

    <div class="container-form">
      <div class="input-group">
        <div class="text-info">
          Email
          <input type="text" class="input-form" name="email" id="email">
        </div>
      </div>
    </div>
  </div>
</div>